body {
  background-color: lightblue;
}

img {
  width: 400px;
}

form {
  margin-top: 20px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.expe {
  font-size: 20px;
  font-weight: lighter;
}

input {
  background-color: lightcyan;
  height: 40px;
  width: 400px;
  border: lightsteelblue solid 2px;
  border-radius: 2px;
}

.exp {
  width: 185px;
  margin-right: 20px;
}

div {
  display: flex;

}

.img:hover {
  transform: rotateY(180deg);
}